.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}

.msg-btn{
    background-color: black;
    border-radius: 28px;
}
.back-color{
    --background:  var(--ion-color-top-main) !important;
}
button{
    color: white !important;
}

.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
}

.my-message {
    background: #bbf4bb;
    color: black;
}

.other-message {
    background: white;
    color: black;
}

.time {
    float: right;
    font-size: small;
    color: black;
}
ion-content{
    --background: #fff url('../../../assets/images/chat.png') no-repeat center center / cover;
}
ion-footer{
    background: #fff url('../../../assets/images/chat.png') no-repeat center center / cover;
}
