
<ion-content>
  <div id="errorMsg"></div>

  <video id="partner-video" (click)="swapVideo('my-video')" autoplay playsinline
    [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}">
  </video>
  <video id="my-video" (click)="swapVideo('partner-video')" autoplay playsinline
    [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" >
  </video>


  <!-- <ion-row nowrap>
    <ion-button (click)="login()">Login As: </ion-button>
    <ion-item>
      <ion-input type="text" [(ngModel)]="userId" placeholder="enter your nick name"></ion-input>
    </ion-item>
  </ion-row> -->
</ion-content>
<ion-row nowrap class="ion-text-center" style="margin-bottom: 5px;">
  <ion-col size="12">
    <ion-button (click)="call()" color="success" shape="round" class="ion-padding">
      <ion-icon name="videocam"></ion-icon>Join</ion-button>
    <ion-button (click)="close()" color="danger" shape="round" class="ion-padding">
      <ion-icon name="call"></ion-icon>Leave </ion-button>
  </ion-col>
  <!-- <ion-col size="6">
    
  </ion-col> -->
  
  <!-- <ion-item>
    <ion-input type="text" [(ngModel)]="partnerId" placeholder="your partner nick name"></ion-input>
  </ion-item> -->
</ion-row>

