.back-color{
    --background:  var(--ion-color-top-main) !important;
}
button{
    color: white !important;
}
ion-item ion-icon{
    background-color: var(--ion-color-icon-bg);
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
}
.lbl{
    padding-left: 15px;
}
ion-list-header{
    background-color: #d7d8da7d;
    font-weight: normal;
}
.confirm{
    margin: 15px 20px 0px 20px;
}