<!-- <app-header></app-header> -->

<ion-content>
  <ion-row class="ion-no-padding header">
    <ion-col size="12">
      <ion-button class="back" fill="clear" color="primary" (click)="back()" style="height: 30px;">
        <ion-icon style="color: white;" name="arrow-back"></ion-icon>
        <ion-text style="color: white;">Create Account</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="ion-padding">
    <form #f="ngForm">
      <ion-list>
        <ng-container *ngIf="registerNext==0">
          <ion-img alt="logo" id="header_logo" expand="block" src="../../assets/images/logo.png"></ion-img>
            <ion-row class="ion-text-center">
              <ion-col size="12">
                <ion-text>Please enter your email address.</ion-text>
              </ion-col>
            </ion-row>
            
            <ion-item class="border required" lines="none">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-input class="inpt" email name="username" placeholder="Username*" ngModel #username="ngModel" required
                [(ngModel)]="registerUser.username">
              </ion-input>
            <ion-label class="lbl"> Username</ion-label>
            </ion-item>
            <ion-label *ngIf="!username.valid && username.dirty" class="error">Should be a valid email address!!</ion-label>

            <ion-item class="border required" lines="none">
              <ion-icon name="lock-open-outline"></ion-icon>
              <ion-input class="inpt" minlength="4" name="password" placeholder="Password*" ngModel #pwd="ngModel" required 
                type="password" show-hide-input
              [(ngModel)]="registerUser.password"></ion-input>
            <ion-label class="lbl">Password</ion-label>
            </ion-item>
            <ion-label *ngIf="!pwd.valid && pwd.dirty" class="error">Should at least be 4 characters long.</ion-label>

            <ion-item class="border required" lines="none">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-input class="inpt" type="password" name="repeatpwd" placeholder="Repeat Password*" ngModel #repeatpwd="ngModel" required
                [(ngModel)]="repeatPassword">
              </ion-input>
            <ion-label class="lbl"> Repeat Password</ion-label>
            </ion-item>
            <ion-label 
              *ngIf="!isRepeatPasswordMatch() 
                && repeatpwd.dirty" class="error">Repeat Password did not match!!</ion-label>

            <ion-item class="border required" lines="none">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-input class="inpt" email name="email" placeholder="E-mail*" ngModel #email="ngModel" required
                [(ngModel)]="registerUser.email">
              </ion-input>
            <ion-label class="lbl"> E-mail</ion-label>
            </ion-item>
            <ion-label *ngIf="!email.valid && email.dirty" class="error">Should be a valid email address!!</ion-label>

            <ion-button expand="block" (click)="registerNext=registerNext+1" color="secondary"
              [disabled]="f.invalid || !isRepeatPasswordMatch()">
              <ion-icon name="log-in" class="icon-login"></ion-icon>
              Next
            </ion-button>
        </ng-container>
        
        <ng-container *ngIf="registerNext==1">

          <ion-row style="padding-bottom: 5px;">
            <ion-col size="12">
              <ion-text>Tell us about yourself.
              We'll keep your details safe.
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-item class="border required" lines="none">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input class="inpt" name="firstName" placeholder="First Name*" #firstName="ngModel" required
            style="text-transform: capitalize;"
            [(ngModel)]="registerUser.firstName">
            </ion-input>
          <ion-label class="lbl">First name</ion-label>
          </ion-item>

          <ion-item class="border required" lines="none">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input class="inpt" name="lastName" placeholder="Last Name" #lastName="ngModel" required
            style="text-transform: capitalize;"
            [(ngModel)]="registerUser.lastName">
            </ion-input>
          <ion-label class="lbl">Last name</ion-label>
          </ion-item>

          <ion-item class="border required" lines="none">
            <ion-icon name="man-outline"></ion-icon>   
            <ion-select class="inpt" name="gender" placeholder="Gender*" required
              [ngModel]="registerUser.gender"
              (ionChange)="genderChange($event)">
              <ion-select-option value="Male">
                  Male
              </ion-select-option>
              <ion-select-option value="Female">
                  Female
              </ion-select-option>
              <ion-select-option value="Other" >
                  Other
              </ion-select-option>
              <ion-select-option value="Prefer not to Say">
                  Prefer not to Say
              </ion-select-option>
            </ion-select>
            <ion-label class="lbl select-lbl">Gender</ion-label>
          </ion-item>
          
          <ion-item class="border required" lines="none"> 
            <ion-icon name="call-outline"></ion-icon>       
            <ion-input class="inpt" name="contact" placeholder="Contact No*" ngModel #contact="ngModel"
            [(ngModel)]="registerUser.contactNo" required></ion-input>
            <ion-label class="lbl">Contact No</ion-label>
          </ion-item>

          <ion-item class="border required" lines="none"> 
            <ion-icon name="call-outline"></ion-icon>       
            <ion-datetime class="inpt" name="dob" placeholder="Date Of Birth*" ngModel #contact="ngModel"
            [(ngModel)]="registerUser.birthDate" required
            displayFormat="MMM DD, YYYY"></ion-datetime>
            <ion-label class="lbl date-lbl">Date Of Birth</ion-label>
          </ion-item>

          <ion-item class="border required" lines="none">
            <ion-icon name="man-outline"></ion-icon>   
            <ion-select class="inpt" name="marital" placeholder="Marital Status*" required
              [ngModel]="registerUser.martialStatus"
              (ionChange)="mariralChange($event)">
                <ion-select-option value="Single">Single</ion-select-option>
                <ion-select-option value="Married">Married</ion-select-option>
                <ion-select-option value="Engaged">Engaged</ion-select-option>
                <ion-select-option value="Divorced">Divorced</ion-select-option>
                <ion-select-option value="Widowed">Widowed</ion-select-option>
                <ion-select-option value="Prefer not to Say">Prefer not to Say</ion-select-option>
            </ion-select>
            <ion-label class="lbl select-lbl">Marital Status</ion-label>
          </ion-item>
          
          <ion-button expand="block" (click)="registerNext=registerNext+1; isAgreePolicy=false" color="secondary"
            [disabled]="f.invalid">
            <ion-icon name="log-in" class="icon-login"></ion-icon>
            Next
          </ion-button>
        </ng-container>
        
        <ng-container *ngIf="registerNext==2">
          <ion-row style="padding-bottom: 5px;">
            <ion-col size="12">
              <ion-text>Hi {{registerUser.firstName | titlecase}}, What's your home address?
              </ion-text>
            </ion-col>
          </ion-row>
          
          <ion-item class="border required" lines="none"> 
            <ion-icon name="pin-outline"></ion-icon>       
            <ion-input class="inpt" name="address1" placeholder="Address1" #address1="ngModel" required
              style="text-transform: capitalize;"
              [(ngModel)]="registerUser.addressLine1"></ion-input>
              <ion-label class="lbl">Address1</ion-label>
          </ion-item>
          <ion-item class="border" lines="none">  
            <ion-icon name="pin-outline"></ion-icon>       
            <ion-input class="inpt" name="address2" #address2="ngModel" placeholder="Address2 (Optional)"
              style="text-transform: capitalize;"
              [(ngModel)]="registerUser.addressLine2"></ion-input>
              <ion-label class="lbl">Address2</ion-label>
          </ion-item>
          <ion-item class="border required" lines="none"> 
            <ion-icon name="podium-outline"></ion-icon>       
            <ion-input class="inpt" name="city" #city="ngModel" placeholder="City" required
              style="text-transform: capitalize;"
              [(ngModel)]="registerUser.city"></ion-input>
              <ion-label class="lbl">City</ion-label>
          </ion-item>
          
          <ion-item class="border required" lines="none">
            <ion-icon name="podium-outline"></ion-icon>         
            <ion-input class="inpt" name="postCode" #postCode="ngModel" placeholder="Postcode" required
              style="text-transform: capitalize;"
              [(ngModel)]="registerUser.postcode"></ion-input>
              <ion-label class="lbl">Postcode</ion-label>
          </ion-item>
          <ion-item class="border required" lines="none">
            <ion-icon name="podium-outline"></ion-icon>         
            <ion-input class="inpt" name="state" #state="ngModel" placeholder="State" required
              style="text-transform: capitalize;"
              [(ngModel)]="registerUser.state"></ion-input>
              <ion-label class="lbl">State</ion-label>
          </ion-item>
          <ion-item class="border required" lines="none"> 
            <ion-icon name="podium-outline"></ion-icon>        
            <ion-input class="inpt" name="country" #country="ngModel" placeholder="Country" required
              style="text-transform: capitalize;"
              [(ngModel)]="registerUser.country"></ion-input>
            <ion-label class="lbl">Country</ion-label>
          </ion-item>

          <ion-button expand="block" (click)="onSubmit()" color="secondary"
            [disabled]="f.invalid">
            <ion-icon name="log-in" class="icon-login"></ion-icon>
            Submit
          </ion-button>
        </ng-container>
      </ion-list>
    </form>
  </div>
</ion-content>

