ion-item ion-icon{
    background-color: var(--ion-color-icon-bg);
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
}
.lbl{
    padding-left: 15px;
}
ion-card{
    box-shadow: none;
    margin-top: 5px;
}