.StripeElement {
  height: 2rem;
  padding-left: 6px;
}

.StripeElement--focus {
  border-color: #80BDFF;
  outline:0;
  transition: border-color .15s ease-in-out;
}
.txt-box{
  padding: 5px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}
.w-100{
  width: 100%;
}

label{
  font-size: 15px;
}
.text-danger{
  color: red;
}