<ion-grid>
  <ion-row>
    <ion-col>
      <h5>Online Card Payment</h5>
      <img src="../../../assets/images/visaLogo.png" alt="visaLogo">
      <img src="../../../assets/images/mastercardLogo.png" alt="mastercardLogo">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="alert alert-danger text-danger mt-3" role="alert" *ngIf="stripeElementDto.cardErrors">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{stripeElementDto.cardErrors}}
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="cus-required">
        <label for="nameOnCard">Name on card</label>
        <div>
          <input class="txt-box w-100" type="text" name="nameOnCard" id="nameOnCard" required
            [(ngModel)]="stripeElementDto.nameOnCard" #nameOnCardCtrl="ngModel">
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="cus-required">
        <label for="cardNumber">Card Number</label>
        <div class="txt-box w-100" id="cardNumber" #cardNumberCtrl></div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=6>
      <div class="cus-required">
        <label for="cardExpiry">Expiry</label>
        <div class="txt-box" id="cardExpiry" #cardExpiryCtrl></div>
      </div>
    </ion-col>
    <ion-col size=6>
      <div class="cus-required">
        <label for="cardCvc">CVC</label>
        <div class="txt-box" id="cardCvc" #cardCvcCtrl></div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
