.policy{
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
}

 .new-background-color{
    --background:  var(--ion-color-top-main) !important;
}
button{
    color: white !important;
}