<ion-header>
  <ion-toolbar  class="new-background-color">
    <ion-buttons>
      <ion-button class="back" fill="clear" (click)="back()" slot="start">
        <ion-icon style="color: white;" name="arrow-back" ></ion-icon> 
      </ion-button>
      
    </ion-buttons>
    <ion-buttons  slot="end">
      <ion-button slot="end" style="color: white;">
        <ion-text style="color: white;">Privacy Policy</ion-text>
        
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding policy">
  <div style="text-align: center;font-weight:bold;">
    SPOS CLOUD Privacy Policy | Updated: 16/11/2020
  </div>
  <div>
    <p>
      With the following information, we would like to give you an overview of the 
      processing of your personal data within the scope of the installation and usage of 
      the "<b>SPOS Loyalty</b> mobile application” (hereinafter referred to as app) and your 
      rights from data protection laws.
    </p>
    <p>
      Which data is processed and how this is used is based on if you use the app without 
      explicit consent to this data protection statement (see section 2 a) to c)) or you have 
      given consent to the processing of your personal data within the app (see section 2 d) to h)).
    </p>
  </div>

  <div>
    1. Who is responsible for data processing and who can I contact? 
    <div style="text-align: center;">The responsible position is:<br>
      <font style="color: rgb(2, 89, 134);"><b>Visual Business Retail Limited <br>trading as SPOS Loyalty</b></font>
      <br>Unit 5, Endeavour House<br>2 Cambridge Road<br>Kingston upon Thames<br>Surrey<br>KT1 3JU<br>United
      Kingdom<br>
      <font style="color: rgb(2, 89, 134);">Phone: +44 (0) 800 304 7543<br>Email: infoloyalty@sposcloud.net<br>Website: <a
          runtime_url="loyalty.sposcloud.net" href="loyalty.sposcloud.net"
          target="_blank">https://loyalty.sposcloud.net<br><br></a></font>
    </div>
  </div>

  <div>
    2. What sources and data do we use?
    <div>
      <ul>
        <li style="padding-bottom: 10px;">
          In connection with the installation and usage of the app, we collect, process 
          and use the data described below to find out which companies, products or 
          other topics you are interested in and which information and offers from our 
          partner companies are relevant for you to be able to use the functions of our 
          app on this basis as needed and to provide you with the most relevant 
          information and offers from our partner companies in the app.
        </li>
        <li style="padding-bottom: 10px;">
          If you use the app, we collect, process, and use the following data for the 
          previously listed purposes to fulfil our contractual obligations in terms of 
          Lawfulness of processing [art. 6 para. 1 b GDPR] or based on entitled interest 
          in terms of Lawfulness [art. 6 para. 1 f GDPR] (this means interest in the 
          analysis, optimisation, and efficient operation of our app):
        </li>
      </ul>
      <ul style="padding-left: 15px;">
        <ol type="a">
          <li style="padding-bottom: 10px;">
            Loyalty Card data: To be able to use the functions of the app, you must 
            provide your loyalty card and customer number  from a card provider. This 
            card data is converted for the contractually agreed upon purposes, this means 
            into the respective barcode, and then used within the scope of the app as well 
            as to protect against abuse and - if additionally agreed upon - the provision of 
            other services.
          </li>
          <li style="padding-bottom: 10px;">
            Usage data: If you use the app, we collect and save how you use the card 
            (for example, card used, time, number of points).
          </li>
          <li style="padding-bottom: 10px;">
            Location data: We do not capture location data at present
          </li>
          <li style="padding-bottom: 10px;">
            Registration data: When applying for a new loyalty card, usually your name 
            and your email address and any other mandatory information are needed (basic data). <br><br>

            This basic data and further voluntarily disclosed data (for example, telephone 
            number, address, etc.) is collected, saved, and used by Loyalty Card within the 
            scope of the registration of the respective loyalty card. The basic data, any 
            voluntary information and, if necessary, their changes (application data) will be 
            sent to the partner company by Loyalty Card for the further processing and 
            issuing of the respective customer card where you apply for the respective 
            customer card. If you have agreed to have your application data forwarded to 
            a partner company, this consent also applies to other customer cards that you 
            apply for through the app. Any transfer of personal data to third parties going 
            beyond this only occurs - except in the case of a concrete suspicion of 
            abuse - if and provided that you have given Loyalty Card separate consent to this 
            transmission. Furthermore, the customer card conditions from the respective partner 
            apply, which are linked correspondingly, and you have given separate consent.
          </li>
          <li style="padding-bottom: 10px;">
            Interface data: if you have logged into your user account from a card 
            provider through the app, we will collect and save the respective point status 
            and the shared transactions or other offers provided to you 
            (such as card-linked coupons or personalised offers). The respective login 
            data is saved to ensure easy access to this interface or other interfaces in 
            the future where you can also use this login data.
          </li>
          <li style="padding-bottom: 10px;">
            Personalised offers: If you consent to the delivery of personalised offers 
            from our partner companies (for example, redemption coupons), we can share 
            your card number with general information about your usage of the app with the 
            respective card provider so that we can send you personalised offers 
            (including card-linked coupons) through the app or through other electronic 
            channels (for example, by email or messenger).
          </li>
          <li style="padding-bottom: 10px;">
            Data privacy statement for receiving Loyalty points balance and 
            transactions: You can enter the password for your Loyalty account in 
            the Loyalty Card app to display your Loyalty Card points and your 
            Loyalty transactions. After entering your credentials, we will collect 
            and securely transmit your password to Loyalty Platform SPOS Loyalty, to 
            request your data from Loyalty and display it in Loyalty Card. 
            To facilitate future requests, we will store your password in Loyalty Card.
          </li>
        </ol>
      </ul>
    </div>
  </div>

  <div>
    3. What do we process your data for (purpose of processing) and on which legal basis?
    <div>
      <p>
        We process personal data in agreement with the regulations of the General Data 
        Protection Regulation (GDPR) and the Data Protection ACT:
      </p>
      <ol type="a">
          <li style="padding-bottom: 10px;">
            To fulfil contractual obligations of Lawfulness of processing [art. 6 para. 1 b. GDPR]
            The processing of data occurs primarily to be able to provide the services and 
            functions from our app.
          </li>
          <li style="padding-bottom: 10px;">
            Within the scope of the consideration of interests [art. 6 para. 1 f. GDPR] <br><br>

            If necessary, we will process your data beyond the actual fulfilment of the 
            contract to preserve entitled interests from us or third parties, for example, <br><br>

            ● to design the app as needed, <br>
            ● to examine and optimize the procedure for the analysis of requirements for the 
            purpose of direct customer contact, <br>
            ● for advertising or market and opinion research, if you have not 
            objected to the usage of your data, <br>
            ● to preserve IT security, <br>
            ● to control and develop our app.
          </li>
          <li style="padding-bottom: 10px;">
            Based on your consent [art. 6 para. 1 a GDPR]
            If you have given us express consent (opt-in) to process personal 
            data for the respective purposes within the corresponding functions of 
            the app (for example, application for a customer card from a partner, 
            login to your user account from a card provider, delivery of personalised 
            offers (so-called card-linked coupons), the legality 
            of this processing (for example, forwarding the data to third parties) 
            is given on the basis of your consent. Granted consent can be revoked 
            at any time. This also applies to the revocation of declarations of 
            consent that have been granted to us before the applicability of the GDPR, 
            therefore before May 25, 2018. The revocation of consent does not affect 
            the legality of the data processed until revocation.
          </li>
      </ol>
    </div>
  </div>

  <div>
    4. How are third-party services integrated?
    <p>
      Based on our entitled interests in terms of Lawfulness of processing 
      [art. 6 para. 1 . f. GDPR] (this means interest in the analysis, 
      optimisation, and efficient operation of our app), we may use third-party 
      services in the future,which willbe listed here.
    </p>
  </div>

  <div>
    5. Who gets my data?
    <p>
      Other than the processing listed above, your personal data will be only be 
      shared with your consent. Within Loyalty Card, only those who need access 
      to your data to fulfil our contractual and legal obligations will also receive access to it. 
      With the express consent to this data protection declaration, you give us the consent to 
      share your data as specified in section 2 d) .
    </p>
  </div>

  <div>
    6. Will data be transmitted to a third-party country or an international organization?
    <p>
      Data transmission to sites in the UK outside of the European Union 
      (so-called third-party states) occurs provided that
    </p>
    <ul>
        <li>it is required to execute your orders,</li>
        <li>it is legally prescribed,</li>
        <li>within the scope of order data processing or</li>
        <li>you have given us your consent.</li>
    </ul>
    <div>
      If there are service providers in a third party state, 
      they are additionally obligated to the written instructions 
      through the agreement of the EU standard contract clauses or 
      certification under the Privacy Shield to comply with the data 
      protection level in Europe.
    </div>
  </div>

  <br>
  <div>
    7. How long will my data be saved?
    <p>
      We process and save your personal data if it is required to fulfil our 
      contractual and legal obligations. It must be considered that our business relationship 
      is a continuing obligation that exists for years.
      If the data is no longer required to fulfil contractual or legal obligations, 
      it will be deleted regularly unless the limited further processing is 
      required to preserve evidence within the scope of statutory limitation periods.
    </p>
  </div>

  <div>
    8. What data protection rights do I have?
    <p>
      Every affected person has the right to information according to article 15 
      GDPR, the right to correction according to article 16 GDPR, the right to 
      deletion according to article 17 GDPR, the right to limit processing according 
      to article 18 GDPR, the right to opposition from article 21 GDPR as well as the 
      right to data transmission from article 20 GDPR. With the right to information 
      and deletion, the restrictions according to article 34 and 35 GDPR apply. 
      Furthermore, there is a right to lodge a complaint to a responsible data 
      protection supervisory authority (article 77 GDPR in connection with article 19 GDPR). <br>

      You can opt out of the granted consent for the processing of your personal data. 
      This also applies to opting out of declarations of consent, 
      which have been granted to us before the applicability of the 
      General Data Protection Regulation, therefore before May 25, 2018. 
      Please remember that the opt-out will only work in the future. 
      Processing that has occurred before the opt-out will not be affected by this.
    </p>
  </div>

  <div>
    9. Is there an obligation to me providing data?
    <p>
      Within the scope of our business relationship, you have to 
      provide personal data that is required for the beginning and 
      execution of a business relationship and the fulfilment of the 
      affiliated contractual obligations or for the collection of which 
      we are legally obligated to. Without this data, we are normally not 
      able to complete the contract with you or execute it.
    </p>
  </div>

  <div>
    10. What type of automated decision-making exists?
    <p>
      We do not use fully automatic decision-making in accordance 
      with article 22 GDPR. Partial automatic decision-making is used 
      for providing the loyalty card services (see Section 12).
    </p>
  </div>

  <div>
    11. Is there profiling?
    <p>
      Some of your data from section 2 are processed in an automated 
      manner (so-called profiling) with the objective of designing 
      the app to meet demands or to be able to inform you in the app 
      about products and offers from our partners. This permits us 
      communication and advertising as needed in the app including market 
      and opinion research on the basis of anonymous data.
    </p>
  </div>

  <div>
    12. Privacy Policy Specific to the Loyalty Card Services
    <div>
      <p>
        The following information applies to the application and usage of 
        the loyalty services in addition to the information listed above.
      </p>
      <ol type="a">
        <li style="padding-bottom: 10px;">
          Data collection <br>

          We collect, process, and use the data described below for 
          the purpose of providing the services to you: <br><br>

          ●    Identity data including your full name and residential address. <br>
          ●    Contact data including your e-mail address and mobile phone number. <br>
          ●    Due diligence data including information we are required by law 
          to process about you to comply with our obligations in relation to 
          international sanctions, anti-money laundering and fraud prevention. <br>
          ●    Transaction data including details about the Loyalty card and transactions you carry out
        </li>
        <li style="padding-bottom: 10px;">
          Data retention period <br>

          Records of your identity checks and transactions will be 
          retained for 10 years in order to fulfil our regulatory obligations.
        </li>
        <li style="padding-bottom: 10px;">
          Automated decision-making and profiling <br>

          We may process your personal data partially automated to assess if you pose a fraud, 
          money laundering or terrorist financing risk in the following situations: <br><br>

          ●    To complete sanctions and PEP (Politically exposed person) status screening. <br>
          ●    To verify your identity as required by law in order to provide you with higher limits. <br>
          ●    To analyse your loyalty card transactions and behaviour against that 
          of known fraudsters or money launderers. You have rights in relation to 
          automated decision-making and profiling. Please contact our customer support 
          if you want to know more about how we process your data.
        </li>
      </ol>
    </div>
  </div>

  <div>
    13. Cookies Policy
    <p>
      We and our trusted partners use cookies and other technologies in 
      our related services, including when you visit our Site or access our services.
    </p>
    <p>
      A "cookie" is a small piece of information that a website assigns 
      to your device while you are viewing a website. Cookies are very 
      helpful and can be used for various different purposes. These purposes 
      include allowing you to navigate between pages efficiently, enabling 
      automatic activation of certain features, remembering your preferences 
      and making the interaction between you and our Services quicker and easier. 
      Cookies are also used to help make sure that the advertisements you see are 
      relevant to you and your interests and to compile statistical data on your use of our Services.
    </p>
    <p>
      The Site uses or may use, the following types of cookies:
    </p>
    <ol type="a">
        <li style="padding-bottom: 10px;">
          'session cookies' , which are stored only temporarily during 
          a browsing session in order to allow normal use of the system and 
          are deleted from your device when the browser is closed;
        </li>
        <li style="padding-bottom: 10px;">
          'persistent cookies ', which are read only by the Site, 
          saved on your computer for a fixed period and are not deleted 
          when the browser is closed. Such cookies are used where we need 
          to know who you are for repeat visits, for example to allow us to 
          store your preferences for the next sign-in;
        </li>
        <li style="padding-bottom: 10px;">
          'third-party cookies' , which are set by other online services 
          who run content on the page you are viewing, for example by 
          third-party analytics companies who monitor and analyse our web access. <br>

          Cookies do not contain any information that personally 
          identifies you, but Personal Information that we store about 
          you may be linked, by us, to the information stored in and 
          obtained from cookies. You may remove the cookies by following 
          the instructions of your device preferences; however, if you 
          choose to disable cookies, some features of our Site may not 
          operate properly and your online experience may be limited.
        </li>
    </ol>
    <b>By using the website you are agreeing to our use of these necessary cookies.</b>
  </div>

  <p></p><br>

  <div style="text-align: center;">
    <b>How to contact us</b>
    <div>If you have any general questions about the apps or the information we collect about </div>
    <div>you and how we use it, you can contact us or please refer the privacy policy </div>
    <div>published on this web site 
      <font style="color: rgb(2, 89, 134);"><a runtime_url="loyalty.sposcloud.net" href="loyalty.sposcloud.net"
        target="_blank">https://loyalty.sposcloud.net<br><br></a></font>
    </div>
  </div>

  <p></p><br>
  
  <div style="text-align: center;">
    <b>Visual Business Retail Limited</b>
    <div>Unit 5 Endeavour House, 2 Cambridge Road, Kingston Upon Thames, Surrey, KT1</div>
    <div>3JU, United Kingdom.</div>
  </div>

  <p></p><br>

  <div style="text-align: center;">
    <div>To contact by phone or email:</div>
    <div>Phone: +44 (0) 800 304 7543 | Email:infoloyalty@sposcloud.net</div>
  </div>
</ion-content>

