<!--
<ion-content [fullscreen]="true">
Home page

  <div id="container">
    <ion-text style="padding-top: 20px;" class="create">
      <a style="text-decoration: none;" [routerLink]="['/account/login']" routerDirection="root"> Login</a>
    </ion-text>
  </div>
</ion-content> -->


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="full" [routerLink]="['/echannel/therapists']">Search Therapist</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" expand="full" [routerLink]="['/appointments/my_booking_list']">My Bookings</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="full" [routerLink]="['/schedules/list']">Schedules</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" expand="full" [routerLink]="['/consultation_fee']">Consultation Fee</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="full" [routerLink]="['/appointments/client_appointment_list']">Client Appoitments</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" expand="full" [routerLink]="['/chats/chat_list']">Message</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
