<ion-header>
  <ion-toolbar  class="new-background-color">
    <ion-buttons>
      <ion-button class="back" fill="clear" (click)="back()" slot="start">
        <ion-icon style="color: white;" name="arrow-back" ></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons  slot="end">
      <ion-button slot="end" style="color: white;">
        <ion-text style="color: white;">About Us</ion-text>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding policy">
  <div style="text-align: center;font-weight:bold;">
    About Us
  </div>
</ion-content>

