ion-list ion-item{
	padding-top: 5px;
	padding-bottom: 5px;
}
ion-icon{
	background-color: var(--ion-color-icon-bg);
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
}
.header{
	text-align: center;
    background-color: var(--ion-color-top-main);
	color: white;
	padding: 10px;
	
	ion-text{
		font-size: 12px;;
	}

	h3{
		margin-top: 10px;
		margin-bottom: 5px;
	}
	h6{
		margin-top: 30px;
	}
}
.title{
	background-color: #f2f1f6;
	padding: 10px;
    padding-left: 20px;
}
