.back-color{
    --background:  var(--ion-color-top-main) !important;
}
button{
    color: white !important;
}
ion-content ion-icon{
    font-size: 30px;
}
ion-content ion-button{
    height: 130px;
}
ion-img{
    height: 50px;
}