<ion-header>
  <ion-toolbar  class="back-color">
    <ion-buttons>
      <ion-button class="back" fill="clear" (click)="back()" slot="start">
        <ion-icon style="color: white;" name="arrow-back" ></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-buttons  slot="end">
      <ion-button slot="end" style="color: white;">
        <ion-text style="color: white;">Forgot Password</ion-text>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-no-padding header">
    <ion-col size="12">
      <ion-button class="back" fill="clear" color="primary" [routerLink]="['/auth/login']" style="height: 30px;">
        <ion-icon style="color: white;" name="arrow-dropleft"></ion-icon>
        <ion-text style="color: white;">Forgot Password?</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="ion-padding" style="text-align: center;margin-top: 10px;">
    <h6>You can reset your password here.</h6>

      <ion-row size="12" >
        <ion-col>
          <ion-item lines="none" class="w100">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input class="inpt" email name="email" placeholder="E-mail" ngModel #email="ngModel" required></ion-input>
            <ion-label class="lbl"> E-mail</ion-label>
          </ion-item>
          <ion-label *ngIf="!email.valid && email.dirty" class="error">Should be a valid email address!!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row size="12" style="margin-top: 10px;">
       <ion-col>
        <ion-button expand="block" color="secondary"
          (click)="onResetPasswordBtnClicked(email.value)"
        [disabled]="email.invalid">
        <ion-icon name="log-in" class="icon-login"></ion-icon>
        Reset
      </ion-button>
       </ion-col>
      </ion-row>

  </div>
</ion-content>
