.back-color{
    --background:  var(--ion-color-top-main) !important;
}
button{
    color: white !important;
}
ion-item ion-icon{
    background-color: var(--ion-color-icon-bg);
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
}
.lbl{
    padding-left: 15px;
}
ion-card{
    margin: 8px;
}
.reason{
    padding-top: 0px;
    padding-bottom: 10px;
}